textarea {
    min-height: 400px;
}

/* #emails-view {
    padding-left: 0;
    list-style-type: none;
} */

/* .mail-link {
    width: 100%;
    height: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
} */

.mail {
    display: block;
    width: 100%;
    /* height: 100%; */
    overflow: hidden;
    border: 1px solid black;
}

.sender, .subject-body {
    height: 30px;
    font-size: 18px;
    /* font-weight: bold; */
    margin-left: 12px;
}

.sender {
    display: block;
    width: calc(25% - 12px);
    overflow: hidden;
    float: left;
}

.subject {
    font-weight: bold;
    margin-right: 10px;
}

.subject-body {
    display: block;
    width: calc(60% - 12px);
    overflow: hidden;
    float: left;
}

.timestamp {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: calc(15% - 12px);
    overflow: hidden;
    float: left;
}

.icons {
    display: none;
    justify-content: center;
    align-items: center;
    height: 30px;
    width: calc(15% - 12px);
    float: left;
}

.single-mail-icons {
    display: block;
    cursor: pointer;
    padding-left: 0px !important;
}

.single-mail-icon {
    padding: 5px;
}

.single-mail-icon-icon {
    font-size: 30px !important;
}

.person-icon-container {
    position: relative;
    bottom: 15px;
}

.reply-icon-container {
    position: relative;
    left: 45%;
    bottom: 15px;
}

.single-mail-timestamp {
    position: relative;
    left: 35%;
}

.west {
    margin: 0px 100px 0px 0px;
    padding-left: 0px;
}

.material-icons {
    /* font-size: 28px !important; */
    padding: 5px;
}

.material-icons:hover {
    color: #0056b3;
}

/* .delete {
    display: none;
} */

.commands {
    border-bottom: 1px solid rgba(0, 0, 0, 0.13);
}

.single-mail-subject {
    padding-left: 50px;
    margin-bottom: 25px;
}

.main-body {
    padding: 1rem 45% 1rem 1rem;
}

.main-body-content {
    margin: 0px;
}

#spinner {
    display: none;
    padding: 1.7%;
    position: relative;
    left: 45%;
    top: 80px;
}